


.navbar{
    width: 80%;
    background-color: #fc6603;
    color: white;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.navbar a{
    text-decoration: underline;
    margin-left: 20px;
    color: white;
}

/* ====================header========== */
.image img{
    max-width: 100%;

} 
.image{
    width: 100%;
    height: 700px;
    overflow: hidden;
    opacity: 95%;
}
.imge{
    height: 715px;
}
.ov{
left: 70%;
top: 20%;
color: white;
font-size: 1.5em;
}
.card-img-overlay div{
    font-size: 2em;
    justify-content: space-evenly;
    display: flex;
    margin: auto;
}



/* =================about================ */
.about{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: fit-content;
    margin: auto;
}

/* ==========================skills==========*/

.skills{
    display: flex;
}


.level{
    display: flex;
    height: 400px;
}
.creative{
    display: flex;

}
.creative div{
    width: 28%;
    display: flex;
    flex-direction: column;
}
.creative img{
max-width: 100%;
height: 400px;
overflow: hidden;
}








/* 
.blog{
    display: flex;
    flex-direction: column;
} */
.blog img{
    max-width: 100%;
}
.blogimg div{
    width: 28%;
}
.blogimg{
    display: flex;
    height: 350px;
    overflow: hidden;
}


/* .progress{
    width: 0%;
} */