@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital@1&family=Vollkorn:wght@500&display=swap');

.navbar{
    width: 100%;
    background-color: #fc6603;
    color: white;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
}
.navbar a{
    text-decoration: underline;
    margin-left: 20px;
    color: white;
}

/* ====================header========== */
.image img{
    max-width: 100%;

} 
.image{
    width: 100%;
    height: 700px;
    overflow: hidden;
    opacity: 95%;
}
.imge{
    height: 715px;
}
.ov{
left: 70%;
top: 20%;
color: white;
font-size: 1.5em;
}
.card-img-overlay div{
    font-size: 2em;
    justify-content: space-evenly;
    display: flex;
    margin: auto;
}



/* =================about================ */
.about{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: fit-content;
    margin: auto;
    padding: 10px;
    margin-top: 100px;
    border-left: solid 1px black;
    border-bottom: solid 1px black;
    box-shadow: 1px 2px 9px gray;
    align-items: center;
    overflow: hidden;
}
.about h1{
    font-family: 'Merriweather', serif;
    text-align: center;
}
.about p{
    font-family: 'Vollkorn', serif;
    font-size: 1.2em;
}
.about button{
text-align: center;
}
.about div{
    margin: 10px;
}
/* ==========================skills==========*/

.skills{
    display: flex;
}
.skills div{
    margin: 10px;
    background-color: cornsilk;
    padding: 10px;
    box-shadow: 1px 2px 9px gray;
    text-align: center;

}
.skills div i{
    font-size: 3rem;
    background-color: rgb(253, 72, 0);
    border-radius: 100%;
}
.skillsec{
    margin-top: 100px;
}
.level{
    display: flex;
    margin-top: 100px;
    height: 400px;
    border: 1px solid gray;
    padding: 10px;
    box-shadow: 1px 2px 9px gray;
}
.intro{
    text-align: center;
    align-items: center;
    padding: 10px;
    display: flex;
    align-items: center;

}
.prog{
    margin-top: 50px;
}

.portfolio{
    margin-top: 120px;
    display: flex;
    flex-direction: column;
}
.portfolio nav{
    display: flex;
}
.portfolio nav div{
    margin-left: 40%;
}
.portfolio nav a{
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    color: black;
}
.portfolio nav a:hover{
    background-color: black;
    color: white;
    padding: 10px;
}
.creative{
    display: flex;
    justify-content: space-between;
}
.creative div{
    width: 28%;
    display: flex;
    flex-direction: column;
    height: 300px;
    overflow: hidden;
    padding: 10px;
    box-shadow: 1px 1px 10px gray;
    margin-bottom: 20px;
}
.creative img{
max-width: 100%;
}








.blog{
    margin-top: 100px;
}
.blogimg{
    display: flex;
    justify-content: space-between;
}
.blog img{
    max-width: 100%;
    overflow: hidden;

}
.blogimg div{
    width: 28%;
    height: fit-content;
    overflow: hidden;
    padding: 10px;
    box-shadow: 1px 2px 9px gray;
}
.blogimg div p{
    text-align: left;
    padding: 10px;
    margin-top: 5px;
}



.footer{
    background-image: url(./assets/pexels-sergey-katyshkin-8464417.jpg);
    background-color: rgb(0, 0, 0);
    background-size: 100%;
    height: 400px;
    color: white;
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.footer h1{
    margin-top: 20px;
}
.footer button{
    padding: 20px;
    width: 200px;
    font-size: 1.2em;
    background: whitesmoke;
    color: black;
    border: 0px;
    border-radius: 20px;
}
.footer button:hover{
    background: none;
    border: 1px solid black;
    color: rgb(255, 60, 0);
    box-shadow: 2px 2px 9px gray;
}
.footer div{
    height: 70px;
    background-color: black;
    position: relative;
    width: 100%;
    /* margin-top: 330px; */
}
.footer div p{
    margin: auto;
    padding: 20px;
}

